{% block subject %}
Password reset on ProjectTogether
{% endblock subject %}

{% block text_body %}
You're receiving this email because you requested a password reset for your user account at ProjectTogether.

Please go to the following page to choose a new password:
https://{{ domain }}/reset-password/{{ result.password_reset_token }}

Thanks for using our platform!

The ProjectTogether team
{% endblock text_body %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your user account at ProjectTogether.</p>

<p>Please go to the following page and choose a new password:</p>
<a href="{{ domain }}/reset-password/{{ result.password_reset_token }}">
https://{{ domain }}/reset-password/{{ result.password_reset_token }}
</a>

<p>Thanks for using our platform!</p>

<p>The ProjectTogether team</p>
{% endblock html_body %}